<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>
        <mapping class="fr.exercice.exoproduit.models.Produit"/>
        <mapping class="fr.exercice.exoproduit.models.User"/>
<!--        <mapping class="models.Commentaire"/>-->
<!--        <mapping class="models.Commande"/>-->
<!--        <mapping class="models.Adresse"/>-->
    </session-factory>

</hibernate-configuration>